In [2]:
import pandas as pd
df = pd.read_csv("book1.csv")
df.set_index('ticker',inplace=True)
df

                  eps  revenue  price         people
ticker
googl           27.82       87    845     larry page
wmt              4.61      484     65            n.a
msft               -1       85     64     bill gates
ril     not available       50   1023  mukesh ambani

In [4]:

new_df=df.fillna(0)
new_df

                  eps  revenue  price         people
ticker
googl           27.82       87    845     larry page
wmt              4.61      484     65            n.a
msft               -1       85     64     bill gates
ril     not available       50   1023  mukesh ambani