In [2]:
import pandas as pd
df=pd.read_csv("msft.csv",header=1,index_col='DateTime',parse_dates=True)
df

                     price
DateTime
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.68
2017-08-17 10:00:00  72.80
2017-08-17 09:30:00  73.00
2017-08-17 11:00:00  72.50

In [3]:
df.index

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 09:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='DateTime', freq=None)

In [4]:
df=df.tz_localize(tz='US/Eastern')
df.index

DatetimeIndex(['2017-08-17 09:00:00-04:00', '2017-08-17 09:15:00-04:00',
               '2017-08-17 09:30:00-04:00', '2017-08-17 10:00:00-04:00',
               '2017-08-17 09:30:00-04:00', '2017-08-17 11:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', name='DateTime', freq=None)

In [5]:
df=df.tz_convert(tz='Europe/Berlin')
df

                           price
DateTime
2017-08-17 15:00:00+02:00  72.38
2017-08-17 15:15:00+02:00  71.00
2017-08-17 15:30:00+02:00  71.68
2017-08-17 16:00:00+02:00  72.80
2017-08-17 15:30:00+02:00  73.00
2017-08-17 17:00:00+02:00  72.50